.contact textarea{
    width:80%;
    height:20vh;
    margin-bottom: 5vh;
    line-height: 1.5;
}

.contact button{
    display:block;
    border:2px solid grey;
    background-color: white;
    cursor: pointer;
    font-size: 22px;
    padding:10px 20px;
    margin:0 80% 0 auto;
    transition: 0.3s;
}
.contact button:hover{
    color:white;
    background-color: rgb(117, 117, 117);
}