div{
    flex-direction: column;
    flex-grow:1;
    
}
label{
    display:block;
}
button{
    display:block;
    border:2px solid grey;
    background-color: white;
    cursor: pointer;
    font-size: 22px;
    padding:10px 50px;
    transition: 0.3s;
    margin:10px 0;
}
 button:hover{
    color:white;
    background-color: rgb(117, 117, 117);
}